extends ../layout/layout.pug
block content
    h1(style="text-align: center") Khách Hàng
    .d-flex.align-items-center
        a.btn.btn-outline-success.mb-2.mr-2(href="/user/create")  create
        a.btn.btn-outline-danger.mb-2(href="/user/delete")  delete
        div
            .input-group.ml-2
                .custom-file
                    input#inputGroupFile01.custom-file-input(type='file' aria-describedby='inputGroupFileAddon01')
                    label.custom-file-label(for='inputGroupFile01') Choose file
        form.ml-auto(action= "/user/search", method= "GET")
            input(type="text", name= "q")
            button.btn.btn-primary.ml-2 search
    table.table
        tr
            td avatar
            td Tên
            td Fresh
            td Milk
            td Frozen
            td Thông tin
        each user in users
            tr
                td 
                    img(src= user.avatar, alt="ha" width="32")
                td= user.name
                td= user.fresh
                td= user.milk
                td= user.frozen
                td= user.info
                    a(href='/user/view/'+ user.id) View
                //- a(href='/user/'+ user.id) xoa

